ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    border:   1px solid black;
    padding: 15px;
}
li{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
li:hover{
    color: blue;
}
